@import url(reset.css);
@font-face {
    font-family: Ubuntu-B; /* Имя шрифта */
    src: url(../fonts/Ubuntu-B.ttf); /* Путь к файлу со шрифтом */
}

#menu {
    position: fixed; /* Фиксированное положение */
    right: 50px; /* Расстояние от правого края окна браузера */
    top: 80%; /* Расстояние сверху */ /*<div><a href="#picture"class="menu"><img src="images/buttom.png"/></a></div>*/
	background: url(../images/buttom.png) no-repeat;
	height: 70px;
	width: 70px;
}

#menu:hover {background-image:url(../images/buttom_1.png);}

#back_1 {
	background-color: #cecece;
	height: 720px;
	margin: 0px auto;
	text-align: center;
}

#main {
	width: 700px;
	height: 700px; 
	line-height: 0;
	border: none;
}

#bolshevism {
	height: 300px;
	background-color: #b30106;
}

.text_1 {
	width: 1200px;
	padding-top: 70px;
	margin: 0px auto; 
	text-align: left;
	
}

.head {
	font: bold 40px Ubuntu-B;
}
.line {
	width: 500px;
	padding-top: 10px; 
	padding-bottom: 10px;
}

.descriprion{
	font: 20px Ubuntu-B;
}

.text_2 {
	width: 1200px;
	padding-top: 70px;
	margin: 0px auto;
	text-align: right;
}

#marxism {
	height: 300px;
	background-color: #fe0000;
}
.authoritarian {
	color: #ffffff;
}

#socialism {
	background-color: #ff3e3f;
	height: 300px;
}

#maosism {
	background-color: #840000;
	height: 300px;
}

#authoritarian_socialism {
	background-color: #d72928;
	height: 300px;
}

#national_bolshevism {
	background-color: #4c0c04;
	height: 300px;
}

#red_conservatism {
	background-color: #850623;height: 300px;
}

#statism {
	background-color: #5e171d;
	height: 300px;
}

#left_nationalism {
	background-color: #cc373b;height: 300px;
}

#national_socialism {
	background-color: #4b2707;height: 300px;
}

#nationalism {
	background-color: #8e4713;height: 400px;
}

#fascism {
	background-color: #262626;height: 300px;
}

#traditionalism {
	background-color: #00032f;height: 300px;
}

#national_conservatism {
	background-color: #00047f;height: 300px;
}

#social_conservatism {
	background-color: #56093f;height: 300px;
}

#conservatism {
	background-color: #0024fc;height: 400px;
}

#national_democracy {
	background-color: #464d5f;height: 400px;
}

#neoconservatism {
	background-color: #4357ad;height: 400px;
}

#social_democracy {
	background-color: #cf5f6d;height: 400px;
}

#christian_democracy {
	background-color: #b5b5b5;height: 350px;
}

#national_liberalism {
	background-color: #707ab5;height: 400px;
}

#liberal_conservatism {
	background-color: #758ffd;height: 300px;
}

#democratic_socialism {
	background-color: #ff716f;height: 400px;
}

#progressivism {
	background-color: #ff9b9b;height: 400px;
}

#social_liberalism {
	background-color: #feb8a4;height: 400px;
}

#conservative_liberalism {
	background-color: #c9d0e1;height: 300px;
}

#neoliberalism {
	background-color: #acd459;height: 330px;
}

#libertarian_conservatism {
	background-color: #a69a24;height: 400px;
}

#libertarianism {
	background-color: #938c17;height: 300px;
}

#utopian_socialism {
	background-color: #eb3913;height: 330px;
}

#libertary_socialism {
	background-color: #dd325c;height: 400px;
}

#classic_liberalism {
	background-color: #bea41a;height: 330px;
}

#agorism {
	background-color: #bac119;height: 300px;
}

#minarchism {
	background-color: #f4de4a;height: 300px;
}

#anarcho_communism {
	background-color: #7d0101;height: 300px;
}

#anarcho_syndicalism {
	background-color: #a31f1a;height: 300px;
}

#mutualism {
	background-color: #ff8057;height: 400px;
}

#anarchism {
	background-color: #dcab7d;height: 300px;
}

#anarcho_individualism {
	background-color: #fc9143;height: 350px;
}

#anarcho_capitalism {
	background-color: #efda0a;height: 250px;
}

#strasserism {
	background-color: #6c3714;height: 300px;
}

#hat {
	background-color: #FFC000;
}

#classic_green {
	background-color: #64ac4c;height: 300px;
}

#liberal_democracy {
	background-color: #72fafa;
	height: 400px;
}

#national_anarchism {
	background-color: #f0b6b6;height: 400px;
}

.fa {
	padding-right: 10px;
}

#hat_1 {
	width: 1320px;
	padding-top: 70px;
	margin: 0px auto;
	text-align: center;
}

#descriprion_1{
	font: 20px Ubuntu-B;
	text-align: left;
	width: 874px;
	margin: 0px auto;
}
.link a {
	color: #ffffff;
	/*text-decoration: none;*/
	font: 20px Ubuntu-B;
}
/*.link a:hover {
	text-decoration: underline; /* подчеркивание в момент навода на ссылку*/
}
.delay {
	padding-top: 15px; 
}
#myCanvas {
	position: absolute;
	pointer-events:none;
}